*{
    box-sizing: border-box;    
}

body{
    display: grid;
}

.body{
    display: grid;
    grid-template-areas: 
    'header header header'
    'lefty centre righty';  
    grid-template-columns: auto auto auto;  
    grid-template-rows: 100px 100px auto;
    background: white;    
    right: 100px;
    opacity: 1;
    vertical-align: baseline;
    top: 0;
    grid-area: body;
    width: 700px;
    height: 700px;
   
}

.header{
    grid-area: header;  
    text-align: center;
    align-items: center;
    color: black;
    height: 100px;
    }

body{
    max-width: 500px;
    height: 100px;
}

.searchbar {
    width: 100%;
    position: relative;
    display: flex;
  }
  
  .searchTerm {
    width: 100%;
    border: 1px solid rgb(192, 189, 189);
    box-shadow: 1px 1px rgb(192, 189, 189) ;
    border-right: none;
    padding: 5px;
    height: 36px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
  }

  .searchButton {
    width: 90px;
    height: 36px;
    border: 3px solid ;
    background: aqua;
    text-align: center;
    color: aqua;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
    box-shadow: 1px 1px;
  }
